/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */

/* mobile first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Intro */
header {
    position: relative;
    height: 100vh;
    background-color: #29a6dc;
    color: #fff;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
}

header .welcome {
    position: absolute;
    width: 100vw;
}

header .welcome {
    top: 8%;
    text-align: center;
}

header p {
    margin-top: -10px;
    font-size: 40px;
}

header h1 {
    font-size: 20px;
}

header h1:last-of-type {
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 20px;
}

header button {
    margin-bottom: 5px;
    padding: 8px 15px;
    border: 1px solid #fff;
    background-color: transparent;
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    color: #fff;
    transition: .5s;
}

header img {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 10%;
}

/* mobilne portrait */
@media (min-width: 375px) and (orientation: portrait) {
    header p {
        font-size: 60px;
    }

    header h1 {
        font-size: 30px;
    }

    header button {
        font-size: 20px;
    }

    header img {
        height: 55%;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    header .welcome {
        top: 5%;
    }

    header p {
        font-size: 80px;
    }

    header h1 {
        font-size: 40px;
    }

    header button {
        padding: 15px 20px;
        font-size: 30px;
    }

    header img {
        height: 58%;
    }
}

@media (min-width: 800px) and (orientation: portrait) {
    header p {
        font-size: 100px;
    }

    header h1 {
        font-size: 50px;
    }

    header button {
        padding: 20px 25px;
        font-size: 40px;
    }

    header img {
        height: 62%;
    }
}

/* mobilne landscape */
@media(min-width: 500px) and (orientation: landscape) {
    header {
        height: 115vh;
    }

    header .welcome {
        top: 2%;
    }

    header img {
        height: 55%;
        width: 50%;
        left: 30%;
        bottom: -5%;
    }
}

@media(min-width: 640px) and (orientation: landscape) {
    header img {
        height: 60%;
    }
}

@media(min-width: 730px) and (orientation: landscape) {

    header h1 {
        font-size: 24px;
    }

    header h1:last-of-type {
        margin-bottom: 10px;
    }

    header img {
        height: 63%;
    }
}

@media (min-width: 854px) and (orientation: landscape) {
    header button {
        padding: 12px 20px;
        font-size: 20px;
    }

    header img {
        height: 68%;
    }
}

@media (min-width: 920px) and (orientation: landscape) {
    header p {
        font-size: 50px;
    }

    header h1 {
        font-size: 30px;
    }
}

/* desktops */
@media (min-width: 1024px) and (orientation: landscape) {
    header {
        height: 100vh;
    }

    header .welcome {
        width: 50%;
        top: 30%;
        margin-left: 40px;
        text-align: left;
    }

    header p {
        font-size: 70px;
    }

    header h1 {
        font-size: 35px;
    }

    header button {
        font-size: 30px;
        padding: 18px 25px;
    }

    header button:hover {
        cursor: pointer;
        color: #000;
        background-color: #fff;
    }

    header img {
        width: 80%;
        height: 80%;
        bottom: 0;
        right: 0;
        left: 45%;
    }
}

@media (min-width: 1200px) and (orientation: landscape) {
    header .welcome {
        top: 10%;
    }

    header img {
        width: 680px;
        height: 680px;
        right: 0;
        left: 60%;
    }

    header p {
        font-size: 120px;
    }

    header h1 {
        font-size: 55px;
    }

    header button {
        font-size: 40px;
    }
}

@media (min-width: 1250px) and (min-height: 900px) {
    header .welcome {
        top: 20%;
    }
}

/* skills */
.services {
    width: 90vw;
    margin: 30px auto 0;
    overflow: hidden;
    text-align: center;
}

.services p {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.services h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.15;
}

.services>h2 {
    margin-bottom: 40px;
    font-size: 26px;
}

.skill:first-of-type,
.skill:nth-of-type(2) {
    margin-bottom: 40px;
}

.skill:nth-of-type(3) {
    margin-bottom: 20px;
}

.skill img {
    width: 100%;
}

.skill h2 {
    margin-bottom: 15px;
}

/* mobile portrait */
@media(min-width: 410px) and (orientation: portrait) {
    .services p {
        font-size: 20px;
    }

    .services h2 {
        font-size: 27px;
    }

    .services>h2 {
        font-size: 31px;
    }
}

@media(min-width: 550px) and (orientation: portrait) {
    .services p {
        font-size: 29px;
    }

    .services h2 {
        font-size: 36px;
    }

    .services>h2 {
        font-size: 40px;
    }
}

@media(min-width: 750px) and (orientation: portrait) {
    .services p {
        font-size: 34px;
    }

    .services h2 {
        font-size: 41px;
    }

    .services>h2 {
        font-size: 50px;
    }
}

@media(min-width: 950px) and (orientation: portrait) {
    .services p {
        font-size: 44px;
    }

    .services h2 {
        font-size: 51px;
    }

    .services>h2 {
        font-size: 60px;
    }
}

/* mobile landscapes */
@media(min-width: 530px) and (orientation: landscape) {
    .skill img {
        width: 70%;
    }

    .services p {
        font-size: 18px;
    }

    .services h2 {
        font-size: 25px;
    }

    .services>h2 {
        font-size: 35px;
    }
}

/* desktops */
@media(min-width: 1024px) and (orientation: landscape) {
    .services p {
        font-size: 30px;
    }

    .services h2 {
        font-size: 45px;
    }

    .services>h2 {
        font-size: 60px;
    }
}

@media(min-width: 1250px) and (orientation: landscape) {
    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .services p {
        font-size: 20px;
    }

    .services h2 {
        font-size: 30px;
    }

    .services>h2 {
        flex-basis: 100%;
        margin-bottom: 60px;
        font-size: 55px;
    }

    .services .skill {
        flex-basis: 30%;
    }

    .skill h2 {
        margin-bottom: 30px;
    }

    .skill img {
        margin-bottom: 20px;
    }
}

/* portfollio */
.portfolio {
    padding-bottom: 20px;
    background-color: #000;
    color: #fff;
}

.portfolio h2 {
    padding: 20px;
    font-size: 26px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.project {
    font-family: 'Saira', sans-serif;
    margin-top: 20px;
    background-color: rgb(245, 78, 78);
}

.project:nth-of-type(even) {
    background-color: royalblue;
}

.project:first-of-type {
    margin-top: 0;
}

.project img {
    width: 100%;
}

.description {
    margin-right: 20px;
}

.description h3 {
    padding: 20px 20px 10px;
    border-bottom: 2px solid #fff;
    font-size: 24px;
    font-weight: normal;
}

.description p {
    padding: 15px 20px 15px;
}

/* mobile portrait */
@media(min-width: 450px) and (orientation: portrait) {
    .portfolio {
        padding-bottom: 40px;
    }

    .portfolio h2 {
        font-size: 35px;
    }

    .project {
        margin-top: 40px;
    }

    .description {
        margin-right: 40px;
    }

    .description h3 {
        font-size: 32px;
    }

    .description p {
        font-size: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 700px) and (orientation: portrait) {
    .portfolio {
        padding-bottom: 60px;
    }

    .portfolio h2 {
        font-size: 55px;
    }

    .project {
        margin-top: 60px;
    }

    .description {
        margin-right: 40px;
    }

    .description h3 {
        font-size: 50px;
        padding-bottom: 30px;
        padding-left: 50px;
    }

    .description p {
        font-size: 35px;
        padding-top: 40px;
        padding-bottom: 60px;
        padding-left: 50px;
    }
}

/* mobile landscape */
@media(min-width: 630px) and (orientation: landscape) {
    .portfolio {
        padding-bottom: 40px;
    }

    .portfolio h2 {
        font-size: 34px;
    }

    .project {
        margin-top: 40px;
    }

    .description {
        padding-bottom: 60px;
    }

    .description h3 {
        padding-bottom: 20px;
        font-size: 28px;
    }

    .description p {
        padding-bottom: 20px;
        font-size: 24px;
    }
}

@media(min-width: 900px) and (orientation: landscape) {
    .portfolio h2 {
        font-size: 38px;
    }

    .description h3 {
        font-size: 32px;
    }
}

/* desktops */
@media(min-width: 1025px) and (orientation: landscape) {
    .portfolio h2 {
        font-size: 55px;
        margin-top: 10px;
    }

    .project {
        display: flex;
        margin: 80px;
    }

    .project:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    .project:first-of-type {
        margin-top: 20px;
    }

    .project:last-of-type {
        margin-bottom: 40px;
    }

    .project img {
        width: 50%;
    }

    .description h3 {
        margin-right: 20px;
        padding-left: 40px;
    }

    .description p {
        padding-top: 40px;
        padding-left: 40px;
    }
}

/* motto */
.motto {
    height: 70vh;
    background-image: url(images/motto.jpg);
    background-position: 30% 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Saira', sans-serif;
    color: #fff;
    text-align: center;
}

.motto .quote {
    background-color: rgb(45, 104, 180, 0.5);
    height: 70vh;
}

.motto h2 {
    padding-top: 10px;
    font-size: 26px;
}

.motto p {
    padding: 40px 10px 0;
}

/* mobile portrait */
@media(min-width: 360px) and (orientation: portrait) {
    .motto h2 {
        padding-top: 40px;
        font-size: 35px;
    }

    .motto .main-quote {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }

    .motto .author {
        padding-top: 20px;
        font-size: 12px;
    }
}

@media(min-width: 460px) and (orientation: portrait) {
    .motto h2 {
        font-size: 40px;
    }

    .motto .main-quote {
        padding-top: 100px;
        font-size: 25px;
    }

    .motto .author {
        font-size: 18px;
    }
}

@media(min-width: 600px) and (orientation: portrait) {
    .motto h2 {
        padding-top: 60px;
        font-size: 50px;
    }

    .motto .main-quote {
        font-size: 28px;
    }

    .motto .author {
        padding-top: 40px;
        font-size: 22px;
    }
}

@media(min-width: 750px) and (orientation: portrait) {
    .motto h2 {
        padding-top: 80px;
        font-size: 60px;
    }

    .motto .main-quote {
        padding-top: 200px;
        font-size: 36px;
    }

    .motto .author {
        padding-top: 80px;
        font-size: 24px;
    }
}

@media(min-width: 760px) and (min-height: 1000px) and (orientation: portrait) {
    .motto {
        height: 90vh;
    }

    .motto .quote {
        height: 90vh;
    }
}

@media(min-width: 980px) and (orientation: portrait) {
    .motto h2 {
        padding-top: 120px;
        font-size: 80px;
    }

    .motto .main-quote {
        padding-left: 60px;
        padding-right: 60px;
        font-size: 45px;
    }

    .motto .author {
        font-size: 28px;
    }
}

/* mobile landscape */
@media(min-width: 533px) and (orientation: landscape) {
    .motto {
        height: 90vh;
        background-position-y: 20%;
    }

    .motto .quote {
        height: 90vh;
    }
}

@media(min-width: 640px) and (orientation: landscape) {
    .motto h2 {
        padding-top: 40px;
        font-size: 30px;
    }

    .motto .main-quote {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(min-width: 720px) and (orientation: landscape) {
    .motto .main-quote {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 19px;
    }
}

@media(min-width: 850px) and (orientation: landscape) {
    .motto .main-quote {
        padding-top: 60px;
        font-size: 22px;
    }
}

@media(min-width: 930px) and (orientation: landscape) {
    .motto h2 {
        padding-top: 80px;
        font-size: 35px;
    }

    .motto .main-quote {
        padding: 80px 40px 0;
    }
}

/* desktops */
@media(min-width: 1024px) and (orientation: landscape) {
    .motto h2 {
        font-size: 45px;
    }

    .motto .main-quote {
        padding: 100px 60px 0;
        font-size: 32px;
    }

    .motto .author {
        font-size: 18px;
    }
}

@media(min-width: 1250px) and (orientation: landscape) {
    .motto h2 {
        font-size: 50px;
    }

    .motto .main-quote {
        font-size: 36px;
    }

    .motto .author {
        padding-top: 80px;
        font-size: 24px;
    }
}

/* hobbys */
.hobbys {
    transition: 1s;
}

.hobbys__title {
    margin: 10px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
}

.hobby:nth-child(2) {
    background-image: url('images/hobby1.jpg');
}

.hobby:nth-child(3) {
    background-image: url('images/hobby2.jpg');
}

.hobby:nth-child(4) {
    background-image: url('images/hobby3.jpg');
}

.hobby:nth-child(5) {
    background-image: url('images/hobby4.jpg');
}

.hobby {
    position: relative;
    height: 40vh;
    background-size: cover;
    background-position: 0 0;
    transition: 1s;
}

.hobby__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    opacity: 0;
    transition: 1s;
}

/* mobile portrait */
@media(min-width: 400px) and (orientation: portrait) {
    .hobbys__title {
        font-size: 32px;
    }
}

@media(min-width: 560px) and (orientation: portrait) {
    .hobbys__title {
        font-size: 40px;
    }
}

@media(min-width: 750px) and (orientation: portrait) {
    .hobbys__title {
        font-size: 55px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media(min-width: 900px) and (orientation: portrait) {
    .hobbys__title {
        font-size: 70px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/* mobile landscape */
@media(min-width: 533px) and (orientation: landscape) {
    .hobby {
        height: 90vh;
    }
}

@media(min-width: 700px) and (orientation: landscape) {
    .hobbys__title {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media(min-width: 812px) and (orientation: landscape) {
    .hobbys__title {
        font-size: 35px;
    }
}

@media(min-width: 950px) and (orientation: landscape) {
    .hobbys__title {
        font-size: 45px;
    }
}

/* desktops */
@media(min-width: 1025px) and (orientation: landscape) {
    .hobbys {
        display: grid;
        grid-template-areas: "title title"
            "hobby1 hobby2"
            "hobby3 hobby4";
    }

    .hobbys__title {
        margin-bottom: 50px;
        margin-top: 50px;
        grid-area: title;
    }

    .hobby {
        height: 60vh;
    }

    .hobby:nth-child(2) {
        grid-area: hobby1;
    }

    .hobby:nth-child(3) {
        grid-area: hobby2;
    }

    .hobby:nth-child(4) {
        grid-area: hobby3;
    }

    .hobby:nth-child(5) {
        grid-area: hobby4;
    }

    .hobby__description {
        transition: 1s;
    }

    .hobby:hover {
        background-position: 50%;
    }

    .hobby:hover .hobby__description {
        height: 60vh;
        background-color: rgba(255, 79, 44, 0.5);
        cursor: pointer;
    }

    .hobby:hover .hobby__content {
        opacity: 1;
    }
}

/* contact */
.contact {
    background-color: #111;
    padding-bottom: 16px;
}

.contact__form {
    position: relative;
    height: 65vh;
}

.contact__title {
    padding: 30px 0 20px 0;
    font-family: 'Saira', sans-serif;
    color: #fff;
    font-size: 26px;
    text-align: center;
}

.contact__input {
    text-align: center;
}

#name,
#email,
#message {
    width: 85vw;
    padding-left: 10px;
    margin: 0 16px 10px 16px;
}

#name,
#email {
    height: 6vh;
}

#message {
    padding-top: 10px;
}

.contact__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85vw;
    padding: 10px 0;
    border: 2px solid #fff;
    background-color: #111;
    font-family: 'Saira', sans-serif;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.social {
    display: flex;
    flex-direction: column;
}

.social__item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.social__image {
    width: 15%;
    margin-left: 30px;
    margin-right: 16px;
}

.social__adress {
    color: #fff;
}

/* mobile portrait */
@media(min-width: 400px) and (orientation: portrait) {
    .contact__title {
        font-size: 32px;
    }

    .contact__form {
        height: 60vh;
    }

    #name,
    #email,
    #message {
        font-size: 15px;
    }

    .contact__button {
        font-size: 23px;
    }

    .social__image {
        margin-left: 50px;
    }

    .social__adress {
        font-size: 18px;
    }
}

@media(min-width: 560px) and (orientation: portrait) {
    .contact__title {
        font-size: 40px;
    }

    .contact__form {
        height: 55vh;
    }

    #name,
    #email,
    #message {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .contact__button {
        font-size: 28px;
    }

    .social__image {
        width: 12%;
        margin-left: 50px;
    }

    .social__adress {
        font-size: 22px;
    }
}

@media(min-width: 750px) and (orientation: portrait) {
    .contact__title {
        font-size: 55px;
    }

    .contact__form {
        height: 60vh;
    }

    #name,
    #email,
    #message {
        font-size: 24px;
    }

    .contact__button {
        font-size: 35px;
    }

    .social__item {
        margin-bottom: 30px;
    }

    .social__image {
        margin-left: 70px;
    }

    .social__adress {
        font-size: 28px;
    }
}

/* mobile landscape */
@media(min-width: 533px) and (orientation: landscape) {
    .contact__form {
        height: 100vh;
        margin-bottom: 16px;
    }

    #name,
    #email {
        height: 6vw;
    }

    .social__image {
        width: 8%;
        margin-left: 50px;
    }
}

@media(min-width: 850px) and (orientation: landscape) {
    .contact__form {
        height: 80vh;
    }
}